.button-v1 {
  background-color: $color-black;
  border-radius: 20px;
  color: $color-ghost-white;
  padding: 8px 16px;

  transition: background-color 300ms, color 300ms;

  &:hover {
    background-color: $color-light-blue;
    color: $color-black;
  }
}
