.form-v1 {
  @extend .font-v4;

  display: flex;
  flex-direction: row;

  > * {
    font-size: inherit;
    padding: 6px;

    &:focus {
      z-index: 2;
    }
  }

  input[type='text'] {
    background-color: transparent;
    border-width: 2px;
    border-radius: 8px 0 0 8px;
    border-style: solid;
    border-color: $color-paynes-gray;
    color: $color-ghost-white;
    width: 100%;

    &::placeholder {
      color: $color-ghost-white;
      opacity: 0.7;
    }
  }

  input[type='submit'] {
    background-color: $color-paynes-gray;
    background-image: url('../../assets/search.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    border: solid 2px $color-paynes-gray;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    transition: background-color 300ms;
    width: 40px;

    &:hover {
      background-color: $color-charcoal;
    }
  }
}

.form-v2 {
  background-color: $color-paynes-gray;
  border-radius: 16px;
  // display: flex;
  // flex-direction: column;
  color: $color-ghost-white;
  margin: auto;
  max-width: $container-medium;
  padding: 32px;

  @include mobile-only {
    padding: 16px;
  }

  > * {
    display: block;
  }

  input,
  textarea {
    @extend .font-v3;
  }

  input:not([type='submit']),
  textarea {
    background-color: transparent;
    border: solid 2px $color-light-blue;
    border-radius: 8px;
    color: $color-ghost-white;
    margin-bottom: 40px;
    padding: 16px 24px;
    width: 100%;

    @include mobile-only {
      padding: 8px 16px;
      margin-bottom: 24px;
    }
  }

  label {
    @extend .font-v6;

    margin-bottom: 12px;
  }

  textarea {
    min-height: 200px;
    resize: none;
  }

  input[type='submit'] {
    @extend .button-v1;

    margin: auto;
  }

  .error-message {
    @extend .font-v3;

    color: orangered;
  }
}
