.link-style-v1 {
  @include flex-center;

  border-radius: 12px;
  color: $color-ghost-white;
  padding: 8px;
  text-decoration: none;
  transition: color, background-color 300ms;

  &.active {
    color: $color-black;
    background-color: $color-light-blue;
  }
}
