html,
body,
#root {
  min-height: 100vh;
}

*:focus-visible {
  outline: 1px solid lightsalmon;
}

header,
main,
footer {
  padding-left: 16px;
  padding-right: 16px;

  @include mobile-only {
    padding: 8px;
  }
}

main {
  background-color: $color-ghost-white;
  padding: 0 16px;
}

#root {
  display: flex;
  flex-direction: column;
  & > main {
    flex-grow: 2;
  }
}
