@mixin mobile-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin tablet-only {
  @media (min-width: 600px) and (max-width: 1023px) {
    @content;
  }
}

@mixin desktop-only {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin not-destop {
  @media (max-width: 1023px) {
    @content;
  }
}

@mixin flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin flex-space-between {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
