$color-conch-shell: #dfbfae;
$color-raspberry-blush: #c8665b;
$color-cinnamon: #8e5340;
$color-wenge: #3a2e2b;
$color-savannah-green: #b6a05b;
$color-new-age: #d5ced1;
$color-starry-night-blue: #354172;
$color-north-sea-green: #386b72;

$container-large: 1024px;
// $container-medium: 1024px;
// $container-small: 1024px;
