$color-black: #000000;
$color-charcoal: #2f4550;
$color-paynes-gray: #586f7c;
$color-light-blue: #b8dbd9;
$color-ghost-white: #f4f4f9;

$container-large: 1024px;
$container-medium: 800px;
// $container-small: 1024px;
