* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input[type='submit'] {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}
