@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap');

.font-v1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
}

.font-v2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  line-height: 1;

  @include tablet-only {
    font-size: 24px;
  }

  @include mobile-only {
    font-size: 20px;
  }
}

.font-v3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}

.font-v4 {
  @extend .font-v3;

  font-weight: 300;
}

.font-v5 {
  @extend .font-v3;

  font-size: 12px;
}
